<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
    <p>
    {{ message }}
    </p>
    <p>
    <a href="/">Etusivu</a> | <a href="/search">Haku</a> | {% if session.username %}
         Lisää resepti | <a href="/logout">Kirjaudu ulos</a> | Olet kirjautunut nimellä <b><a href="/user/{{ session.user_id }}">{{ session.username }}</a></b> <br />
    </p>
    {% endif %}


    {% if session.username %}
    <p>
        <h2>Uusi resepti</h2>
    </p>
    <hr />
        <form action="/new_recipe" method="post">
            <p>
                Reseptin nimi: <br />
                <textarea name="name" rows="1" cols="40"></textarea>
            </p>
            <p>
                Ainesosat: <br />
                <textarea name="ingredients" rows="20" cols="40"></textarea>
            </p>
            <p>
                Valmistusohje: <br />
                <textarea name="instructions" rows="20" cols="40"></textarea>
            </p>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
                <input type="submit" value="Lähetä" />
        </form>
        <hr />
    {% endif %}


</body>

</html>
