<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>
<body>
   <p>
    {{ message }}
    </p>
    <p>
    <a href="/">Etusivu</a> | <a href="/search">Haku</a> | {% if session.username %}
         <a href="/new_recipe">Lisää resepti</a> | <a href="/logout">Kirjaudu ulos</a> | Olet kirjautunut nimellä <b>{{ session.username }}</b> <br />
    </p>
    {% else %}
    Kirjaudu sisään <br />
        <form action="/login" method="post">
            <p>
                Tunnus: <br />
                <input type="text" name="username" />
            </p>
            <p>
                Salasana: <br />
                <input type="password" name="password" />
            </p>
            <input type="submit" value="Kirjaudu" />
        </form>
        <p>
            <a href="/register">Luo tunnus</a>
        </p>
    {% endif %}
    <p>
    <h2>Olet poistamassa reseptiä</h2>
    </p>
    <hr />
    <p>
        <form action="/remove/{{ recipe.id }}" method="post">
    </p>
    <p>
        Haluatko varmasti poistaa viestin?
    </p>
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>

  </p>
</body>

</html>
