<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>
<body>
   <p>
    {{ message }}
    </p>
    <p>
    <a href="/">Etusivu</a> | <a href="/search">Haku</a> | {% if session.username %}
         <a href="/new_recipe">Lisää resepti</a> | <a href="/logout">Kirjaudu ulos</a> | Olet kirjautunut nimellä <b><a href="/user/{{ session.user_id }}">{{ session.username }}</a></b> <br />
    </p>
    {% endif %}
    <p>
    <h2>Olet poistamassa reseptiä</h2>
    </p>
    <hr />
    <p>
        <form action="/remove/{{ recipe.id }}" method="post">
    </p>
    <p>
        Haluatko varmasti poistaa viestin?
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>

  </p>
</body>

</html>
